<h1>Mostra Cadastros</h1>

{{#each cadastros}}
    Nome: {{nome}} <br>
    Email: {{email}} <br>
    Endereco: {{endereco}} <br>
    Idade: {{idade}} <br>
    Telefone: {{telefone}} <br>
    <a href="/del-cadastro/{{id}}"><button>Deletar Cadastro</button></a>
    <hr>
{{/each}}